<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248308891322-8h9v42mb598iqia567k5oelote39b94g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248308891322-8h9v42mb598iqia567k5oelote39b94g</string>
	<key>API_KEY</key>
	<string>AIzaSyCoVVYFbkHyrrIOptLFTKwaLTR_AdK5Szc</string>
	<key>GCM_SENDER_ID</key>
	<string>248308891322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fluffypix.app</string>
	<key>PROJECT_ID</key>
	<string>fluffypix-11c3d</string>
	<key>STORAGE_BUCKET</key>
	<string>fluffypix-11c3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248308891322:ios:fda02803397991c3758c83</string>
</dict>
</plist>